@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

/* ------------------ HEADER ------------------ */

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
}

.menu {
    &__list {
        display: flex;
        margin: 0 62px 0 32px;
    }

    &__list-item:first-child {
        margin: 0 80px 0 0;
    }

    &__list-link {
        @extend %title-font;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9);
    }
}

.logo {
    margin: 0 auto;
}

/* ------------------ FOOTER ------------------ */

.footer {
    &__content {
        background-color: #dfdfdf;
        padding: 61px 80px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 539px;
    }

    &__info-title {
        @extend %title-font;
        color: $title;
        line-height: 23px;
        margin: 0 0 14px 0;
    }

    &__info-text {
        max-width: 476px;
        margin: 0 0 16px 0;
    }

    &__info-email {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: $title;
        margin: 0 0 22px 0;
        padding: 0 0 0 30px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: 6px 10px 6px 18px;
        border: 1px solid rgba(56, 54, 54, 0.7);
        border-radius: 21px;
        background-color: transparent;
        font-size: 16px;
        line-height: 28px;
        width: 100%;

        &::placeholder {
            color: #a1a1a1;
        }
    }

    &__form-btn {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        color: #fffff0;
        padding: 6px 12px;
        background-color: $title;
        border: 1px solid $title;
        border-radius: 21px;
        min-width: 160px;
        margin: 0 0 0 9px;
    }

    &__social-item,
    &__menu-item {
        font-size: 14px;
        font-weight: 600;
    }

    &__social-item:not(:last-child),
    &__menu-item:not(:last-child) {
        margin: 0 0 15px 0;
    }

    &__social-link,
    &__menu-link {
        color: #707070;
    }

    &__copyright {
        background-color: $title;
        color: #a1a1a1;
        text-align: center;
        padding: 42px 28px 41px;
    }
}